@tailwind base;
@tailwind components;
@tailwind utilities;


.menu li a {
  background-color: transparent !important;
}

.dropdown-content li {
  background-color: transparent !important;
}


.swiper-pagination {
  z-index: 10;
  position: relative;
}

.swiper-pagination-bullet-active {
  background-color: #ff7f50; /* Light orange */
  transform: scale(1.2); /* Slightly enlarge active bullet */
  font-weight: bold;
}
